.sidebar, .sidebar-2 {
    width: 0;
    overflow-x: hidden;
    transition: 0.4s;
}

.sidebar-menu, .sidebar-submenu {
    display: flex;
    flex-direction: column;

    a {
        margin: 8px auto;
        font-size: 25px;
        color: #818181;
        display: block;
        // transition: 0.5s;
        // padding: 8px 8px 8px 32px;

        &:hover {
            color: #f1f1f1;
        }
    }
}

.sidebar.open {
    width: 110px;
    border-right: 1px solid black;
}

.sidebar-2.open {
    width: 200px;
    border-right: 1px solid black;
}