<!-- <div class="row">
    <div class="col">
        <table>
            <thead>
                <tr>
                    <th scope="col">Log Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of logs">
                    <td>{{ record.logId }}</td>
                    <td>{{ record.logType }}</td>
                    <td>{{ record.message }}</td>
                    <td>{{ record.logDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <p>Maybe put the results?</p>
    </div>
</div> -->